[Desktop Entry]
Encoding=UTF-8
Name=MOD Creation Guide for beginners
Type=Link
URL=http://steamcommunity.com/sharedfiles/filedetails/?id=510660283
Icon=text-html
Name[ko_KR]=초심자를 위한 모드 창작 안내서
